/* width */



::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(123, 121, 121);
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { 
    background: rgb(182, 178, 178);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
  }